<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WeChat</title>
  <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
  <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
  <div class='main'>
    <!-- 主体部分 -->
    <div class="main_inner">
      <!-- 侧边栏好友 -->
      <div class="panel">
        <!-- 侧边栏头部分 -->
        <div class="header">
          <!-- 头像部分 -->
          <div class="avatar">
            <img src="" alt="" class="img">
          </div>
          <!-- 侧边ID -->
          <div class="info">
            <h3 class="nickname">
              <!-- ID -->
              <span class="display_name ng-binding">XXXXXXXX</span>
              <!-- 菜单栏 -->
              <a href="" class="opt">
                <i class="web_wechat_add"></i>
              </a>
            </h3>
          </div>
        </div>
        <div class="search_bar">
          <!-- search 图标 -->
          <i class="web_wechat_search"></i>
          <!-- 搜索框 -->
          <input type="text" class="frm_search ng-isolate-scope ng-gristine ng-valid" placeholder='搜索'>
        </div>
        <!-- 分组部分 -->
        <div class="tab">
          <div class="tab_item">
            <a href="" class="chat" title="聊天">
              <i class="web_wechat_tab_chat web_wechat_tab_chat_hl"></i>
            </a>
          </div>
          <div class="tab_item ng-scope">
            <a href="" class="chat" title='推送'>
              <i class="web_wechat_tab_public"></i>
            </a>
          </div>
          <div class="tab_item no_extra">
            <a href="" class="chat" title='通讯录'>
              <i class="web_wechat_tab_friends"></i>
            </a>
          </div>
        </div>
        <div class="nav_view ng-scope" style='width: auto'>
          <div class="scroll-wrapper chat_list scrollbar-dynamic" style='position: relative'>
            <div class="chat_list scrollbar-dynamic scroll-content scroll-scroll_visibile" style='margin-bottom: 0px; margin-right: 0px; height: 576px;'>
              <!-- 加载消息部分 -->
              <p class="ico_loading ng-hide">
                <img src="../public/images/loding.gif" alt=""> 正在获取最近聊天记录...
              </p>
              <!-- 消息部分 -->
              <div class="ng-scope">
                <div class="ng-scope">
                  <!-- 单个消息 -->
                  <div class="chat_item slide-left ng-scope top">
                    <!-- 右侧提示图标 -->
                    <div class="ext">
                      <p class="attr ng-binding"></p>
                      <!-- 消息免打扰 图标 -->
                      <p class="arrt ng-scope no_time">
                        <i class="web_wechat_no-remind ng-hide"></i>
                      </p>
                    </div>
                    <!-- 好友头像 -->
                    <div class="avatar">
                      <img src="" alt="" class="img">
                    </div>
                    <!-- 好友昵称部分 -->
                    <div class="info">
                      <h3 class="nickname">
                        <span class="nickname_text ng-binding">*********</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <!-- 滚动条消除 - x -->
                <div class="scroll-element scroll-x scroll-scrolly_visible">
                  <div class="scroll-element_corner"></div>
                  <div class="scroll-arrow scroll-arrow_less"></div>
                  <div class="scroll-arrow scroll-arrow_more"></div>
                  <div class="scroll-element_outer">
                    <div class="scroll-element_size"></div>
                    <div class="scroll-element_inner-wrapper">
                      <div class="scroll-element_inner scroll-element_track">
                        <div class="scroll-element_inner-bottom"></div>
                      </div>
                    </div>
                    <div class="scroll-bar" style='width: 89px;'>
                      <div class="scroll-bar_body">
                        <div class="scroll-bar_body-inner"></div>
                      </div>
                      <div class="scroll-bar_bottom"></div>
                      <div class="scroll-bar_center"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右边聊天框 -->
      <div class="ng-scope" style='height: 100%'>
        <div id="chatArea" class='box chat ng-scope'>
          <!-- 聊天框头部 -->
          <div class="box_hd">
            <!-- 展开的人员表 -->
            <div id="chatRoomMembersWrap"></div>
            <!-- 聊天框头部 -->
            <div class="title_wrap">
              <div class="title poi">
                <a href="" class="title_name ng-binding">嘟嘟噜</a>
                <i class="web_wechat_down_icon"></i>
              </div>
            </div>
          </div>
          <!-- 聊天框部分 -->
          <div class="scroll-wrapper box_bd chat_bd scrollbar-dynamic">
            <div class="box_bd chat_bd scrollbar-dynamic scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 499px;">
              <div class="ng-scope" id='chat_content'>
                <div class="top-placeholder ng-scope" style='height: 0px'></div>
                <!-- 我方 单个消息 -->
                <div class="ng-scope">
                  <div class="clearfix">
                    <div style="overflow: hidden">
                      <!-- 消息内容开始 -->
                      <div class="message ng-scope me">
                        <!-- 时间部分 -->
                        <div class="message_system ng-scope">
                          <!-- 时间 -->
                          <div class="content ng-bingding ng-scope">00:00</div>
                        </div>
                        <!-- 头像部分 -->
                        <img src="" alt="" class="avatar" title="">
                        <!-- 消息主体 -->
                        <div class="content">
                          <div class="bubble js_message_bubble ng-scope bubble_primary right">
                            <!-- 内容主体 -->
                            <div class="bubble_cont ng-scope">
                              <div class="plain">
                                <pre class="js_message_plain ng-binging">说点啥??</pre>
                                <!-- 发送中图标 -->
                                <img src="../public/images/loding.gif" alt="正在发送..." class="ico_loading ng-hide">
                                <!-- 发送失败图标 -->
                                <i class="ico_fail web_wechat_message_fail" title="对方已接收"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 我方单个结束 -->
                <!--  -->
                <div class="ng-scope">
                  <div class="clearfix">
                    <div style="overflow: hidden">
                      <!-- 消息内容开始 -->
                      <div class="message ng-scope you">
                        <!-- 时间部分 -->
                        <div class="message_system ng-scope">
                          <!-- 时间 -->
                          <div class="content ng-bingding ng-scope">00:00</div>
                        </div>
                        <!-- 头像部分 -->
                        <img src="" alt="" class="avatar" title="">
                        <!-- 消息主体 -->
                        <div class="content">
                          <div class="bubble js_message_bubble ng-scope bubble_default left">
                            <!-- 内容主体 -->
                            <div class="bubble_cont ng-scope">
                              <div class="plain">
                                <pre class="js_message_plain ng-binging">想说啥就说啥</pre>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->

                <div class="bottom-placeholder ng-scope"></div>
                <div id="prerender" style="visibility: hidden; position: absolute; width: 100%; top: 333px; height: 0; padding: 0 19px; box-sizing: border-box; margin-left: -19px; overflow: hidden;"></div>
                <!-- 没有消息时的显示界面 -->
                <div class="message_empty ng-scope ng-hide">
                  <i class="web_wechat_nomes_icon"></i>
                  <p class='ng-hide'>还没有开始聊天</p>
                  <p class=''>未选择连天对象</p>
                </div>
              </div>
            </div>
          </div>
          <div class="box_ft ng-scope">
            <!-- 表情,文件部分 -->
            <div class="toolbar" id="tool_var">
              <a href="javascript:;" class="web_wechat_face" title='表情'></a>
            </div>
            <!-- 输入框部分 -->
            <div class="content ng-isolate-scope">
              <pre contenteditable="true" draggable='false' id="editArea" class='flex edit_area ng-isolate-scope ng-valid ng-dirty'></pre>
              <span class="caret_pos_helper" id="caretPosHelper"></span>
            </div>
            <!-- 发送部分 -->
            <div class="action">
              <span class="desc ng-scope">摁下Ctr + Enter发送</span>
              <a class="btn btn_send" href='javascript:;' ng-click='send()'>发送</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var str =
      "<div class='ng-scope'><div class='clearfix'><div style='overflow: hidden'><!-- 消息内容开始 --><div class='message ng-scope me'><!-- 头像部分 --><img src='' alt='' class='avatar' title=''><!-- 消息主体 --><div class='content'><div class='bubble js_message_bubble ng-scope bubble_primary right'><!-- 内容主体 --><div class='bubble_cont ng-scope'><div class='plain'><pre class='js_message_plain ng-binging'>说点啥??</pre><!-- 发送中图标 --><img src='../public/images/loding.gif' alt='正在发送...' class='ico_loading ng-hide'><!-- 发送失败图标 --><i class='ico_fail web_wechat_message_fail' title='对方已接收'></i></div></div></div></div></div></div></div></div>";

    function message() {
      console.log($('#editArea')[0].innerHTML);
      $('#chat_content').append(str);
      $('.scroll-content').scrollTop($('#chat_content')[0].scrollHeight);
      // console.log($('#chat_content')[0].scrollHeight);
    }
    $('.btn_send').click(function() {
      message();
    });
    $('#editArea').keydown(function() {
      if (event.ctrlKey && event.keyCode == 13) {
        message();
      }
    });
  </script>
</body>

</html>
