<!-- 我方 单个消息 -->
<div class="ng-scope">
  <div class="clearfix">
    <div style="overflow: hidden">
      <!-- 消息内容开始 -->
      <div class="message ng-scope me">
        <!-- 时间部分 -->
        <div class="message_system ng-scope">
          <!-- 时间 -->
          <div class="content ng-bingding ng-scope">00:00</div>
        </div>
        <!-- 头像部分 -->
        <img src="" alt="" class="avatar" title="">
        <!-- 消息主体 -->
        <div class="content">
          <div class="bubble js_message_bubble ng-scope bubble_primary right">
            <!-- 内容主体 -->
            <div class="bubble_cont ng-scope">
              <div class="plain">
                <pre class="js_message_plain ng-binging">说点啥??</pre>
                <!-- 发送中图标 -->
                <img src="../images/loding.gif" alt="正在发送..." class="ico_loading ng-hide">
                <!-- 发送失败图标 -->
                <i class="ico_fail web_wechat_message_fail" title="对方已接收"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 我方单个结束 -->
<!-- 对方单个消息 -->
<div class="ng-scope">
  <div class="clearfix">
    <div style="overflow: hidden">
      <!-- 消息内容开始 -->
      <div class="message ng-scope you">
        <!-- 时间部分 -->
        <div class="message_system ng-scope">
          <!-- 时间 -->
          <div class="content ng-bingding ng-scope">00:00</div>
        </div>
        <!-- 头像部分 -->
        <img src="" alt="" class="avatar" title="">
        <!-- 消息主体 -->
        <div class="content">
          <div class="bubble js_message_bubble ng-scope bubble_default left">
            <!-- 内容主体 -->
            <div class="bubble_cont ng-scope">
              <div class="plain">
                <pre class="js_message_plain ng-binging">想说啥就说啥</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 对方单个消息结束 -->
