* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  transition: all .2s;
}


/* 清除浏览器默认获得焦点效果 */

input:focus {
  outline: 0;
}

body {
  font-size: 16px;
  background: #eee;
}

.content {
  margin: 0 auto;
  width: 320px;
  height: 500px;
  position: relative;
  /*transition: all 1s linear;*/
}

.web_login {
  width: 290px;
  margin: 0 auto;
  position: relative;
}

.g_list {
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.g_u {
  /*border-bottom: 1px solid #eaeaea;*/
}

.g_u, .g_p {
  position: relative;
}

.inputstyle {
  width: 100%;
  height: 44px;
  color: #000;
  border: none;
  padding-left: 15px;
  font-size: 16px;
  transition: all .2s linear;
  border: 1px solid #af8441;
}

.inputstyle:hover, .inputstyle:focus {
  transform: scale(1.05, 1.05);
  border-radius: 4px;
}

.log {
  /*animation: height 3s linear;*/
}


/* 渐变背景 */

.bg-gradient {
  position: absolute;
  /*margin: 24px 30px 8px;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #dedede;
  box-shadow: inset 0 150px 150px -120px rgba(0, 0, 0, .7), inset 0 -150px 150px -150px rgba(0, 0, 0, .5);
  background-image: radial-gradient(circle, #ececec, #b8b8b8);
  z-index: 1;
}

.auto_login {
  /*float: left;*/
  font-size: .98571em;
  color: #777;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

.auto_login::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #af8441;
}

.auto_login::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 13px;
  height: 13px;
  transition: all .2s;
  /*background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI2FmODQ0MSIgZD0iTTI3IDRMMTIgMTlsLTctNy01IDUgMTIgMTJMMzIgOXoiLz48L3N2Zz4K');*/
  background-image: url('../images/other/ok.svg');
  opacity: 0;
  transform: scale(0);
}

.ok::after {
  opacity: 1;
  transform: scale(1);
}


/*.off {}*/

.go {
  width: 290px;
  height: 44px;
  line-height: 44px;
  background-color: #000000;
  border: 2px solid #262626;
  font-weight: 700;
  margin-top: 13px;
  color: #c9aa71;
  transition: all .3s linear;
}

.go:hover {
  color: #f1e6d0;
  background-color: #121212;
}

.wz {
  width: 290px;
  /*position: relative;*/
  margin-top: 15px;
}

.getpw {
  float: left;
  color: red;
}

.getpw:hover {
  color: #dec58d;
}

.newuser {
  float: right;
  color: #257372;
}

.newuser:hover {
  color: #5cb2b1;
}

.getpw, .newuser {
  cursor: pointer;
}

.clearfix::after {
  content: '';
  clear: both;
  /*overflow: hidden;*/
  display: block;
}

.err, .err_p {
  background-color: #eee;
  /*font-size: 17px;*/
  color: rgb(255, 91, 91);
  padding-top: 5px;
  padding-bottom: 10px;
}

.glyphicon {
  width: 17px;
  height: 17px;
}
