body {
  transition: all 0.5s linear;
}

#wrapper {
  position: relative;
  text-align: center;
}

#scroller {
  min-width: 720px;
}

.mod_header {
  font: 17px/21px -apple-system-font!important;
  font-weight: 700;
  position: relative;
  height: 55px;
  background-color: #121212;
  border: 2px solid #262626;
  border-bottom: none;
  border-radius: 4px;
}

.logo {
  padding-left: 10px;
  float: left;
}

.logout {
  display: inline-block;
  float: right;
  color: #c9aa71;
  height: 53px;
  line-height: 53px;
  padding-right: 10px;
}

.logout:hover, .login:hover {
  color: #f1e6d0;
  text-decoration: none;
}

.user {
  position: relative;
  height: 260px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content-border {
  height: 100%;
  background-color: #c7c7c7;
  padding: 4px;
  box-shadow: 0 0 2px 0 #868686;
  border-left: 1px solid rgba(84, 84, 84, 0.3);
  border-top: 1px solid rgba(84, 84, 84, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.content-border-content {
  height: 100%;
  box-shadow: 0 0 2px 0 #868686;
  background-color: #dedede;
}

.userImg {
  width: auto;
  height: 250px;
  /*background-image: url('https://github.com/gurenyigu/Web-start/blob/master/image/LOL_CMS_Welcome_Hero.jpg?raw=true');*/
  background: url('../images/other/bili-bg1.jpg') 0px -100px;
  /*background-repeat: round;*/
  position: relative;
}

.userCenter {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 132px;
  /*width: 100px;*/
  /*height: 90px;*/
  color: #fff;
}

.userHead {
  /*display: inline-block;*/
  width: 75px;
  height: 75px;
  border: 4px solid hsla(0, 0%, 100%, .6);
  border-radius: 52%;
}

#h-avatar {
  width: 67px;
  height: 67px;
  border-radius: 48%;
  cursor: pointer;
}

#info {
  width: 208px;
  color: #fff;
  /*display: inline-block;*/
  position: absolute;
  top: 150px;
  right: 66px;
}

#userName {
  padding-bottom: 5px;
  color: #ff9c00;
}

#userSay {
  font-size: 16px;
  text-align: center;
  color: #fbd989;
}

.img-icon {
  width: 100%;
  height: 56px;
}

.img-box {
  width: 100%;
  height: 64px;
  border: 4px solid hsla(0, 0%, 100%, .6);
  margin-top: 15px;
}

@media screen and (min-width: 1200px) {
  .img-icon {}
}

.row {
  margin: 0;
}

.header {
  height: 647px;
}

@media screen and (max-width: 1200px) {
  .img-icon {
    height: 51.5px;
  }
  .img-box {
    height: 57.5px;
    border: 3px solid hsla(0, 0%, 100%, .6);
    margin-top: 10px;
  }
  .col-xs-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header {
    height: 560px;
  }
}

@media screen and (max-width: 992px) {
  .img-icon {
    height: 43px;
  }
  .img-box {
    height: 47px;
    border: 2px solid hsla(0, 0%, 100%, .6);
    margin-top: 6px;
  }
  .col-xs-1 {
    padding-right: 6px;
    padding-left: 6px;
  }
  .header {
    height: 440px;
  }
}

.login {
  /*display: inline-block;*/
  float: right;
  color: #c9aa71;
  height: 53px;
  line-height: 53px;
  padding-right: 10px;
  cursor: pointer;
  /*background-color: transparent;
  border: none;*/
}

.login:focus {
  outline: none;
  outline-offset: 0;
  color: #f1e6d0;
  text-decoration: none;
}

.img-icon {
  cursor: pointer;
}
