<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet icon" href="file:///home/wds/study/WDS-html/html/day18/image/icon/favicon.ico">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>找回密码</title>
  <style>

  </style>
</head>

<body>
  <div class="content container in">
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">登录</button>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          密码错误
        </div>
      </div>
    </div> -->
    <div id="login" class='login'>
      <!-- <img class='log' src="https://github.com/gurenyigu/nodejs/blob/master/Node/http/images/lol-logo.png?raw=true" alt="" width='290'> -->
      <img class='log' src="./images/other/lol-logo.png" alt="" width='290'>

      <div class="web_login">
        <!-- <div class="bg-gradient"></div> -->
        <!-- <form action="/getpwd" method='POST'> -->
        <ul class="g_list">
          <li class="g_u">
            <div class="del_touch"></div>
            <!-- autocomplete(是否开启历史记录补全, 默认on, 开启) -->
            <!-- autofocus (页面加载完成, 自动获得焦点) -->
            <!-- required (鼠标悬停提示填写字段) -->
            <input type="text" autocomplete='on' name='user' class='inputstyle user' required placeholder="您的用户名">
          </li>
          <div class="err" style='display: none'>
            <span class="glyphicon glyphicon-remove"></span>
            <span class='err_text'></span>
            <!-- <span class="glyphicon"></span> -->
          </div>

          <li class="tell">
            <div class="del_touch"></div>
            <input type="password" placeholder='已注册手机号' name='phone' class='inputstyle try_tell' maxlength='11' required>
          </li>
          <div class="err_tell" style='display: none'>
            <span class="glyphicon glyphicon-remove"></span>
            <span class='err_text_tell'></span>
          </div>
          <span class="pwd" style='display: none'></span>
        </ul>
        <!-- 记住登录状态 -->
        <!-- <label for="" class="auto_login">
          自动登录
        </label> -->
        <!-- 登录按钮 -->
        <button class='go'>找回密码</button>
        <!-- </form> -->
        <!-- 忘记密码 / 注册 -->
        <div class="wz clearfix">
          <!-- <span ></span> -->
          <a href="javascript:;" class="getpw">直接登录?</a>
          <!-- <span ></span> -->
          <a href="javascript:;" class="newuser">注册新用户</a>
        </div>
      </div>
    </div>
  </div>
  <script src='./javascripts/cookie.js'></script>
  <script>
    $(document).ready(function() {

      localStorage.setItem('autoLogin', false);
      // 转跳

      $('.getpw').click(function() {
        location.pathname = '/';
      });
      $('.newuser').click(function() {
        // http://192.168.1.34:3000/zc
        location.pathname = '/zc';
      });

      /* 自动登录 */
      $('.user').val('');

      /* 自动登录选择模块 */
      $('.auto_login').click(function() {
        $(this).toggleClass('ok');
        auto_Login();
        // console.log(localStorage.getItem('autoLogin'));
      });



      /* 表单校验  点击登录设置cookie */
      var user_text;
      var tell_text;

      $('.go').click(function() {
        if (user_text && tell_text) {
          var user = $('.user').val();
          var tell = $('.try_tell').val();

          $.ajax({
            url: '/getpwd',
            method: 'post',
            data: {
              user: user,
              phone: tell
            }
          }).done(function(data, textStatus, jqXHR) {
            console.log(data);
            alert('您的密码为: ' + data + ' 请牢记!');
            location.pathname = '/';
          }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log('提交数据失败.');
          });
        } else {}
      });


      $('.user').focusout(function() {
        user_text = false;
        let value = $(this).val();
        if (value == '') {
          $('.err_text').html('用户名不能为空!');
          $('.err').show();
        } else if (/\s+/.test(value)) {
          $('.err_text').html('用户名不能存在空格!');
          $('.err').show();
        } else if (value.length < 5 && /[\u0000-\u00FF]/.test(value)) {
          $('.err_text').html('用户名必须大于5位!');
          $('.err').show();
        } else {

          // 检查数据
          $.ajax({
            url: '/verify',
            method: 'post',
            data: {
              user: value
            }
          }).done(function(data, textStatus, jqXHR) {
            console.log(data);

            if (data !== true) {
              $('.err_text').html('用户名不存在!');
              $('.err').show();
            } else {
              $('.err').hide();
              user_text = true;
            }
          }).fail(function(jqXHR, textStatus, errThrown) {
            console.log('用户名检测失败!');
          });

        }
      });

      // 手机号验证
      $('.try_tell').focusout(function() {
        tell = false;
        let value = $(this).val();
        if (/^1(3|4|5|7|8)\d{9}$/.test(value)) {
          $.ajax({
            url: '/tell_phone',
            method: 'post',
            data: {
              phone: value
            }
          }).done(function(data, textStatus, jqXHR) {
            if (data == true) {
              $('.err_text_tell').html('手机号不存在!');
              $('.err_tell').show();
              console.log('不存在');
            } else {
              $('.err_tell').hide();
              tell_text = true;
              console.log('存在电话');
            }
            console.log(data);
          }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log('phone请求失败!');
          });
        } else {
          $('.err_text_tell').html('手机号输入有误! 请重新输入...');
          $('.err_tell').show();
        }
      });

    });
  </script>
</body>

</html>
